<p>Hello <%= @resource.email %>,</p>

<p>You requested a password reset. Click the link below to reset your password:</p>

<p>
  <a href="http://localhost:5173/reset-password?token=<%= @token %>">Reset Password</a>
</p>

<p>If you didn't request this, please ignore this email.</p>
